/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .sidebar {
    max-width: 14rem !important;
    width: 100%;
    min-height: 100vh;
    background-color: #455dc7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .sidebar .logo {
    font-size: 1.6rem;
  }
  
  .sidebar .nav-link:hover, .sidebar .nav-link.active {
    background-color: #5b72d6;
    opacity: 1;
  }
  
  .sidebar .nav-link span {
    font-size: 1rem;
  }
  .sidebar .nav-link {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: 1rem;
    position: relative;
    opacity: 0.9;
  }
  